// LoginPage.scss
$background-image: "../images/register_image.png";
$primary-font: Arial, sans-serif;
$container-bg: #868686;
$input-bg: #1F1F1F;
$input-border-color: #FFFFFF;
$button-bg: #007bff;
$link-color: #004DCD;
$error-color: #f44336;

body {
    background: url($background-image) no-repeat center center fixed;
    background-size: cover;
    font-family: $primary-font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-container {
    background-color: $container-bg;
    padding: 20px;
    border-radius: 10px;
    width: 576px;
    text-align: center;
    box-sizing: border-box;

    h2 {
        color: white;
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 45px;
    }
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0 auto;
    width: 90%;

    a {
        padding: 10px;
        font-size: 1.25rem;
        border-radius: 20px;
        background-color: #D9D9D9;
        color: black;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 82px;
        gap: 10px;
        font-weight: bolder;
        text-decoration: none;
        border: 2px solid #000;
        text-align: center;
    }
}

.divider {
    font-size: 1rem;
    font-weight: normal;
    margin: 30px 0;
    color: white;
    position: relative;
    text-align: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 20%;
        height: 1px;
        background: white;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
    }
}

.register-form {
    input {
        width: 90%;
        height: 82px;
        margin: 20px auto;
        border: 4px solid $input-border-color;
        border-radius: 20px;
        background-color: $input-bg;
        color: #878787;
        font-size: 1.25rem;
        padding: 0 15px;
        box-sizing: border-box;
        display: block;

        &::placeholder {
            color: #878787;
        }
    }

    .reg_text {
        font-size: 0.9rem;
        font-weight: lighter;
        color: white;
        margin: 20px 0;
        line-height: 1.4;

        a {
            text-decoration: underline;
            color: $link-color;
        }
    }
}

.register-btn {
    background-color: $button-bg;
    border: 2px solid darkblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    height: 82px;
    margin: 20px auto;
    display: block;
}

.forgotten_text {
    font-size: 1rem;
    font-weight: bolder;
    right: 10px;
    text-decoration: underline;
    color: $link-color;
    display: block;
    text-align: right;
    margin-right: 5px;
    margin-bottom: 10px;
}

.links {
    margin: 10px 0;
    color: white;
    font-weight: bolder;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;

    a {
        color: $link-color;
        text-decoration: underline;
    }
}

.messages {
    margin-bottom: 20px;

    p {
        color: $error-color;
        font-size: 1rem;
        margin: 0;
    }
}

.errorlist {
    color: $error-color;
    font-size: 0.9rem;
    text-align: left;
    margin: 5px 0 10px 5%;
    list-style: none;
    padding: 0;
}